.hero{
    &__section{
        height: 359px;
        text-align: center;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        h2{
            display: flex;
            align-items: center;
            max-width: 659px;
            color: #646464;
            margin: 0 auto;
            margin-bottom: 68px;
        }
    }
}

.jump-to__section{
    line-height: 1;
    a{
        opacity: 0.5;
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #646464;
        text-transform: uppercase;
        letter-spacing: 4.12px;
        &:first-of-type{
            // margin-left: 
            &:after{
                content: "|";
                display: inline-block;
                padding: 0 0.7rem;
                color: #646464;
            }
        }
    }
    span.jump-text{
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #646464;
        letter-spacing: 4.12px;
        margin-right: 1rem;
        text-transform: uppercase;
    }
}
